*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


:root{
--cor0 : white;
--cor1 : hsl(0, 0%, 98%);
--cor2 : hsl(273, 4%, 51%);
--cor3 : hsl(270, 9%, 17%);
--cor4 : hsl(256, 26%, 20%);
--cor5 : hsl(216, 30%, 68%);
}

.cor0 {
  color: var(--cor0);
}
.cor1 {
  color: var(--cor1);
}
.cor2 {
  color: var(--cor2);
}
.cor3 {
  color: var(--cor3);
}
.cor4 {
  color: var(--cor4);
}
.cor5 {
  color: var(--cor5);
}


.font1-grande{
  font: 400 4.5rem/5rem "DM Serif Display", serif;
  letter-spacing: 1px;
}


.font1-media{
  font: 600 2rem/1.0rem "DM Serif Display", serif;
  letter-spacing: 1px;
}

.font1-pequena{
  font: 400 1rem/1.0rem "DM Serif Display", serif;
  letter-spacing: 1px;
}

.font2{
  font: 400 1rem/0.9 "Karla", Arial;
}


.botao{
  z-index: 999;
  text-transform: uppercase;
  color: var(--cor0);
  padding: 10px 20px;
  border: 1px solid var(--cor0);
  justify-self: start;
  transition: all 0.5s ease;
}

.botao:hover{
  background-color: black;
  border-color: black;
  transform: scale(1.15);
}


@media (max-width:770px){
  .botao{
    justify-self: center;
  }
}

