main{
background-color: var(--cor4);
padding: 0px 20px;
box-shadow: inset 0px -100px var(--cor0);
position: relative;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 100px;
  position: relative;
}

.container div{
 display: grid;
 gap: 20px;
 align-content: center;
 padding-bottom: 250px;
 max-width: 700px;
 padding-top: 30px;
}

#imagem-principal{
  object-fit: cover;
  width: 100%;
  min-height: 580px;
}

.container div h1{
  position: relative;
}

.container div h1::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  top: -30px;
  background-color: var(--cor2);
}


.container div h1, 
.container div p {
  color: var(--cor1);
}

.container p{
  line-height: 2rem;
}


#botao-dos-planos{
  z-index: 999;
  text-transform: uppercase;
  color: var(--cor0);
  padding: 10px 20px;
  border: 1px solid var(--cor0);
  justify-self: start;
  transition: all 0.5s ease;
}

#botao-dos-planos:hover{
  background-color: black;
  border-color: black;
  transform: scale(1.15);
}

main::after{
  content: "";
  background-image: url(../imagens/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  width: 30vw;
  height: 70vh;
  position: absolute;
  right: 0px;
  top: 0px;
}

main::before{
  content: "";
  background-image: url(../imagens/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 30vw;
  height: 70vh;
  position: absolute;
  left: 0px;
  bottom: -190px;
}

@media (max-width:770px){
  .container{
    max-width: 375px;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 0px;
    position: relative;
    text-align: center;
    padding-top: 0px;
  }

  .container div{
    display: grid;
    gap: 20px;
    align-content: center;
    padding: 30px 20px;
    max-width: 375px;
    height: 450px;
    box-sizing: border-box;
    grid-area: 2;
    background-color: var(--cor4);
    position: relative;
   }

   .container div h1::before{
    display: none;
  }

  .container div h1{
    position: relative;
    font-size: 2.7rem;
    line-height: 2.5rem;
    z-index: 1;
  }
  
  .container p{
    line-height: 1.5rem;
    z-index: 1;
  }

  .container div p {
    color: var(--cor5);
  }
  
  main{
    background-color: var(--cor0);
    padding: 0px 20px;
  }

  .container div::after{
    content: "";
    background-image: url(../imagens/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    width: 30vw;
    height: 30vh;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .container div::before{
    content: "";
    background-image: url(../imagens/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 50vw;
    height: 40vh;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  main::after{
    display: none;
  }
  
  main::before{
    display: none;
  }
}