.container-were{
  margin-top: 200px;
  background-color: aqua;
  padding: 0px 20px;
  box-sizing: border-box;
}

.container-were div{
  max-width: 1440px;
  margin: 0 auto;
}

.container-were div h1{
  font-weight: 900;
  color: var(--cor4);
}
.container-were div ul{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}